@charset "utf-8";

.galeria{display:table;margin:5px 10px 5px 0;width:100%}
.galeria div{padding:2px;border:1px solid #d8d9dd;width:auto;height:150px;display:inline-block;margin:0 2px 2px 0;font-size:11px;text-decoration:none;color:#000;position:relative}
.galeria div span{color:blue;font-size:10px;cursor:pointer;position:absolute;z-index:1;bottom:0;right:0}
.galeria div img{height:130px}

.abas-pagamento{padding-top:15px}
.abas-pagamento h4{font-weight:700;color:green}
.abas-pagamento .aba{display:none}
.itens-pagamento{border-bottom:1px solid #ccc;width:100%;height:auto;float:left;clear:both;margin-bottom:40px}
.itens-pagamento label{width:auto;float:left;margin:0 40px 0 0;cursor:pointer;padding:5px}
.itens-pagamento label.select{border:1px solid #ccc}
.itens-pagamento label:hover{color:#48887B}
.itens-pagamento label img{height:60px;margin-bottom:10px}
.itens-pagamento .valor{font-weight:700;font-size:22px;cursor:default}

.marginTopBottom{margin:30px 0}

.table{width:100%;border-collapse:collapse}
.table tr td,.table tr th{padding:5px;border:1px solid #ccc;}

.red,.red:hover{color:#990000;text-decoration:none}
