@charset "utf-8";
/* CSS Document */

body {
  font-family:'Lato', Arial, Helvetica, sans-serif; font-size:14px;
}

.navbar-static-top {
  margin-bottom: 19px;
  width: 100%;
}
.fundo_foto {
	top:0;
	background:url(../img/foto1.jpg) center no-repeat;
	height:575px;
	width:100%;
}
.fundo_foto_interno {
	top:0;
	background:url(../img/fundo-interna.jpg) center no-repeat;
	height:345px;
	width:100%;
	margin-top:-1px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
text-transform: uppercase;
}
.menu {
transition-property: all;
transition-duration: 0.2s;
}
.ativo {
	background-color: #55c4cf;
	color:#FFF !important;
}
.h2 {
	font-size:18px; color:#546873; text-transform:uppercase; font-weight:bold;
}

.logo {
	max-width:438px;
	max-height:169px;
	margin:auto;
	border:none;
}
.responsive-img {
display: block;
max-width: 100%;
height: auto;
}
.meio-home {
	background-color:#ddf3f5;
	min-height:375px;
	width:100%;
	clear:both;
}
.meio-home h2 {
	font-size:50px; color:#55c4cf; text-align:center;	
}
.meio {
	width:100%; background-color:#FFF;
}
.meio h1 {
	font-size:18px; font-weight:bold; text-transform:uppercase; color:#FFF; padding:10px; background-color:#55c4cf;	
}
.faixa-newsletter {
	width:100%;
	min-height:119px;
	border-bottom:2px solid #FFF;
	border-top:2px solid #FFF;
	background-color:#55c4cf;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	text-transform:uppercase;
	clear:both;
	padding-top:3px;
	padding-bottom:3px;
}
.fundo_cursos {
	width:100%; height:auto; max-height:415px; background-color:#deeee3; clear:both;
}
.fundo_testemunhos {
	width:100%; height:auto; background-color:#55c4cf;
	border-bottom:2px solid #FFF;
	border-top:2px solid #FFF;
	clear:both;
}
.rodape {
	width:100%; min-height:215px; background-color:#92c7a3; font-size:20px; font-weight:300; color:#FFF;
}
.rodape img {
	border:none;
}

.span2 {
	width:15%; margin-right:5%; float:left;text-align:center;
}
.span3 {
	width:27%; margin-right:3%; float:left; text-align:center;
}
.span4 {
	width:33%; margin-right:7%; float:left;text-align:center;
}
.span5 {
	width:42%; margin-right:8%; float:left;text-align:center;
}
.rodape .span2 img {
	margin-right:0px; margin-top:10px;
}

.legendas {
	width:100%;
	background:rgba(255,255,255,0.7);
	color:#333;
}

/** FORMS AND INPUTS **/

#fm_news {
	font-size:16px;
}
#fm_news input[type="text"] {
  margin: 0;
  padding:8px;
  width:300px; 
  border: 1px solid #CCC;
  color:#55c4cf;
  transition-property: all;
  transition-duration: 0.3s;
  margin-right:15px;
  margin-left: 15px;
  vertical-align: middle;
}
#fm_news input[type="text"]:hover {
	border-color:rgba(0,181,173,1);outline:0;-webkit-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);-moz-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5); color:#DDD;}
	
#fm_news input[type="text"]:focus {
		border-color:rgba(0,181,173,1);outline:0;-webkit-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);-moz-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5); color:#55c4cf;}
	
#fm_inscricao input[type="text"],select {
  margin: 0;
  padding:8px;
  width:99%; 
  border: 1px solid #CCC;
  color:#666;
  transition-property: all;
  transition-duration: 0.3s;
  vertical-align: middle;
}
#fm_inscricao input[type="text"]:hover.select:hover {
	border-color:rgba(0,181,173,1);outline:0;-webkit-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);-moz-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);}
	
#fm_inscricao input[type="text"]:focus,select:focus {
		border-color:rgba(0,181,173,1);outline:0;-webkit-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);-moz-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5); color:#666;}
		
#fm_equipo input[type="text"] {
  margin: 0;
  padding:8px;
  width:99%; 
  border: 1px solid #CCC;
  color:#666;
  transition-property: all;
  transition-duration: 0.3s;
  vertical-align: middle;
}
#fm_equipo input[type="text"]:hover {
	border-color:rgba(0,181,173,1);outline:0;-webkit-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);-moz-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);}
	
#fm_equipo input[type="text"]:focus {
		border-color:rgba(0,181,173,1);outline:0;-webkit-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);-moz-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5); color:#666;}

#fm_contato input[type="text"],select {
  margin: 0;
  padding:8px;
  width:99%; 
  border: 1px solid #CCC;
  color:#666;
  transition-property: all;
  transition-duration: 0.3s;
  vertical-align: middle;
}
#fm_contato input[type="text"]:hover,select:hover {
	border-color:rgba(0,181,173,1);outline:0;-webkit-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);-moz-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);}
	
#fm_contato input[type="text"]:focus,select:focus {
		border-color:rgba(0,181,173,1);outline:0;-webkit-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);-moz-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5); color:#666;}
#fm_contato label {
	display:block;
}
textarea {
	width:100%; height:15em;transition-property: all;  transition-duration: 0.3s;
}
textarea:hover {
		border-color:rgba(0,181,173,1);outline:0;-webkit-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);-moz-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);}
textarea:focus {
border-color:rgba(0,181,173,1);outline:0;-webkit-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);-moz-box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);box-shadow:inset 0 0px 2px rgba(0,181,173,0.5),0 0 8px rgba(0,181,173,0.5);}
.produtos {
	margin-right:3em; cursor:pointer; width:16em;
}

.bot-news {
	background-image:url(../img/bot-news.png); background-repeat:no-repeat; background-position:center; width:28px; height:58px; border:none; background-color:transparent;vertical-align: middle;
}
.botao {
	background-color:#55c4cf; padding:8px; color:#FFF; text-align:center; border:none; text-transform:uppercase;  transition-property: all;
  transition-duration: 0.3s; float:right; text-decoration:none !important;
}
.botao:hover {
	color:#FFF;
	background-color:#39858c;
}

.botao5 {
	background-color:#55c4cf; padding:8px; color:#FFF; text-align:center; border:none; text-transform:uppercase;  transition-property: all;
  transition-duration: 0.3s; float:left; text-decoration:none !important;
}
.botao5:hover {
	color:#FFF;
	background-color:#39858c;
}
input[type=checkbox] {
margin: 3px 5px;
line-height: normal;
vertical-align: text-top;
}
@media (min-width:768px){

.inscrevase {
	position:fixed;
	z-index:1009;
	top:400px;
	right:0;
	background-color:#55c4cf;
	padding:10px;
	text-transform:uppercase;
	color:#FFF;
	text-decoration:none;
    transition-property: all;
    transition-duration: 0.3s;
	cursor:pointer;
	background-image:url(../img/ok.png); background-repeat:no-repeat; background-position:4px; background-size:35px 28px;
	padding-left: 40px;
}
.inscrevase a {
	text-decoration:none;
	color:#FFF;
	display:block;
}
.inscrevase:hover {
	background-color:#39858c;
}

.navbar-default {
	background-color: #FFF;
	border-color: transparent;
}
.navbar-nav {
	margin-top: -30px;	
}
.navbar-default .navbar-nav>li>a {
color: #55c4cf;
/*background-color: #FFF;
width: 140px;*/
height: 100px;
margin-right: 17px;
font-size:16px;
text-align: center;
}
.navbar-default .navbar-nav>li>a:hover {
color: #FFF;
background-color: #55c4cf;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #FFF;
background-color: #55c4cf;
}
.fixed {
	position:fixed; top:0px; background-color:#FFF !important; box-shadow:0 0 10px #333333; transition-property: all;
  transition-duration: 0.3s;
}
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:0}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:0}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}
}
@media (max-width:767px){
.inscrevase {
	display:none;
}
.navbar-default {
background-color: #55c4cf;
/*border-color: #e7e7e7;*/
}
.navbar-default .navbar-toggle {
border-color: #FFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #FFF;
}
.navbar-toggle {
position: relative;
float: right;
margin-right: 15px;
padding: 9px 10px;
margin-top: 8px;
margin-bottom: 8px;
background-color: #FFF;
background-image: none;
border: 1px solid #FFF;
border-radius: 4px;
}
.navbar-default .navbar-nav>li>a {
color: #55c4cf;
background-color: #FFF;
text-align: center;
}
.navbar-default .navbar-nav>li>a:hover {
color: #FFF;
background-color: #55c4cf;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #FFF;
background-color: #55c4cf;
}
input[type="text"],select {
  margin: 0;
  padding:8px;
  width:250px; 
  border: 1px solid #CCC;
  color:#55c4cf;
  transition-property: all;
  transition-duration: 0.3s;
  margin-right:15px;
  margin-left: 15px;
  vertical-align: middle;
}
#fm_inscricao input[type="text"],select {
  margin: 0;
  padding:8px;
  width:99%; 
  border: 1px solid #CCC;
  color:#666;
  transition-property: all;
  transition-duration: 0.3s;
  vertical-align: middle;
  margin-bottom:15px;
}
		
#fm_equipo input[type="text"],select {
  margin: 0;
  padding:8px;
  width:99%; 
  border: 1px solid #CCC;
  color:#666;
  transition-property: all;
  transition-duration: 0.3s;
  vertical-align: middle;
  margin-bottom:15px;
}
#fm_contato input[type="text"] {
  margin: 0;
  padding:8px;
  width:99%; 
  border: 1px solid #CCC;
  color:#666;
  transition-property: all;
  transition-duration: 0.3s;
  vertical-align: middle;
  margin-bottom:15px;
}
.col-lg-3 {
	width:100% !important;
}
.col-lg-4 {
	width:100% !important;
}
.col-lg-4 label {
	display:block;
}
.col-lg-6 {
	width:100% !important; margin-bottom:15px;
}
.fixed {
	position:fixed; top:0px; box-shadow:0 0 10px #333333;
}

.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:0}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:0}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}
}
.col-lg-3 h2 {
	background-color:#55c4cf; padding:6px; text-align:center; font-weight:bold; color:#FFF; font-size:16px; margin:0;	
}
.col-lg-3 h3 {
	font-size:16px; color:#797371; font-weight:bold; text-transform:uppercase;
}
.col-lg-3 a {
	padding:2px 8px;; display:block; text-decoration:none; font-size:16px; color:#333;  transition-property: all;  transition-duration: 0.3s;margin-right: 5%;margin-left: 5%;
}
.col-lg-3 a:hover {
	background-color:#55c4cf; color:#FFF;
}
.col-lg-6 h2 {
	font-size:1.8em; font-weight:bold; color:#55c4cf; margin:0;
}

table {
border-collapse: inherit !important;
border-spacing:1px;
}
label { display:block; }

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings-green.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 4px;
}
/* White icons with optional class, or on hover/focus/active states of certain elements */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png");
}
.icon-chevron-left {
  background-position: -432px -72px;
}
.icon-chevron-right {
  background-position: -456px -72px;
}
.icon-circle-arrow-right {
  background-position: -240px -144px;
}
.icon-circle-arrow-left {
  background-position: -264px -144px;
}