/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,600,800,900);
*{margin:0;padding:0}
body{margin:20px;font-family:'Ubuntu','Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;color: #000;}
a{text-decoration:inderline}
img{display:inline-block}
img.right { border: 1px solid #ccc; float: right; margin-left: 15px; padding: 5px; }
img.left { border: 1px solid #ccc; float: left; margin-right: 15px; padding: 5px; }
ul{list-style:none}
p{margin-bottom:20px}
blockquote { padding: 2px 0 2px 15px;border-left:5px solid #ccc}
blockquote p { font-style:italic;font-family:Georgia, Times, "Times New Roman", serif}
.cke_editable { font-size: 13px; line-height: 1.6; }
.cke_contents_ltr blockquote { padding-left: 20px; padding-right: 8px; border-left-width: 5px; }
.cke_contents_rtl blockquote { padding-left: 8px; padding-right: 20px; border-right-width: 5px; }
ol, ul, dl {*margin-right: 0px;padding: 0 40px; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1.2; }
hr { border: 0px; border-top: 1px solid #ccc; }
pre { white-space: pre-wrap;  word-wrap: break-word; }
.marker { background-color: Yellow; }
span[lang] { font-style: italic; }
figure { text-align: center; border: solid 1px #ccc; border-radius: 2px; background: rgba(0,0,0,0.05); padding: 10px; margin: 10px 20px; display: block; /* For IE8 */ }
figure figcaption { text-align: center; display: block;}
