/* CSS Document
*
* @autor Fernanda Pieretti
* @ref base.css
*
*/

* { margin: 0; padding: 0; border: none; outline: none }
html, body, input, select, textarea { color:#333;font-family: 'Ubuntu', sans-serif;font-weight: 300; font-size: 18px; }
h1,h2,h3,h4,h5,h6,p {display:block;cursor:default;font-weight: 300}
ul, ol { list-style: none }
a img { border: none }



