/* CSS Document
*
* @autor Fernanda Pieretti
* @data fev2016
* @ref flexslider.css
*
*
* jQuery FlexSlider v2.2.0
* http://www.woothemes.com/flexslider/
*
* Copyright 2012 WooThemes
* Free to use under the GPLv2 license.
* http://www.gnu.org/licenses/gpl-2.0.html
*
* Contributing author: Tyler Smith (@mbmufffin)
*/


*{margin:0;padding:0}
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus { outline: none; }
.slides, .flex-control-nav, .flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.flexslider { margin: 0; padding: 0; }
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
.flexslider .slides img { width: 100%; display: block; }
.flex-pauseplay span { text-transform: capitalize; }

.slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }
.no-js .slides > li:first-child { display: block; }

.flexslider {position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 550px; }
.flexslider .slides { zoom: 1; }

.flex-control-nav{display:block;text-align:center;margin-top:5px}
.flex-control-nav li{display:inline-block;margin:5px 2px;background:#ccc;color:#fff}
.flex-control-nav li a{display:block;cursor:pointer;padding:5px}
.flex-control-nav li a.flex-active{cursor:default;background:#e16b0b}