/* CSS Document
*
* @autor Fernanda Pieretti
* @ref styles.css
*
*/

a{color:inherit}
a:hover{text-decoration:none}
p{line-height:26px;font-size:16px}
img{max-width:100%}
hr{display:block;border-top:1px dashed #f9f9f9;margin:30px 0}
html{background:url(../_imagens/vancouver.jpg) no-repeat top center fixed}
.mobile{display:none !important}
.align-center{text-align:center}

#nav{width:100%;min-height:60px;float:left;clear:both;position:fixed;z-index:10;top:0;left:0;background:#fff;box-shadow:#d6d6d6 2px 2px 2px}
#nav .logo{display:block}
#nav .logo img{display:block;margin:8px 0}
#nav ul{display:block;text-align:right}
#nav ul li{display:inline-block}
#nav ul li a{display:block;padding:10px 5px;margin:10px 5px;color:#000;font-size:16px;font-family:'Josefin Sans',sans-serif;font-weight:600;text-transform:uppercase;text-decoration:none;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
#nav ul li a:hover,#nav ul li a.ativo{color:#51ab6d;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
#nav  ul li img{float:left;margin:0 0 0 5px}
#nav .lang a{display:inline}
#nav #menuDropDown{display:none;float:right;margin:20px 15px 0 0;cursor:pointer}

#header{width:100%;height:auto;float:left;clear:both;text-align:center;padding:60px 0 40px;background:url(../_imagens/mask.png) repeat;margin-top:60px}
#header p{color:#fff;text-align:center;font-size:16px;line-height:22px}
#header img{height:80px}

.home #header{padding:120px 0}
.home #header p{font-size:36px;line-height:46px}

#page{width:100%;height:auto;float:left;clear:both;padding:50px 0 100px;background:#f9f9f9}
.post{background:#fff;box-shadow:#d6d6d6 2px 2px 2px;margin-bottom:40px;text-align:center;}
.entry-categoria{display: table;margin: 0 auto 30px;padding-top: 10px;border-top: 1px solid #d6d6d6;text-transform: uppercase;font-family: 'Josefin Sans';font-weight: 600}
.post .entry-title{font-size:40px;font-family:'Josefin Sans',sans-serif;text-transform:uppercase;font-weight:300;margin:10px 20px;padding-top:10px;position:relative}
.post .entry-title:after{content:'';width:100px;height:1px;background:#ccc;position:absolute;z-index:1;top:0;left:50%;margin-left:-50px}
.post .entry-title a{text-decoration:none;color:inherit}
.post .entry-summary{font-size:14px;margin:0 20px 20px;line-height:17px}
.post .entry-category{font-size:13px;margin:15px auto 0;line-height:17px;text-align:center;text-decoration:none;text-transform:uppercase;display:table}
.post .entry-category-post{font-size:13px;margin:auto;line-height:17px;text-align:center;text-decoration:none;text-transform:uppercase;display:table;padding:15px 0 0}
.post .entry-itens{display:table;width:100%;padding:0 20px 20px}
.post .entry-itens-post{display:table;width:100%;padding:20px 20px 0;margin-bottom:0}
.post .entry-data{float:left;font-size:12px;color:#ccc;line-height:37px}
.post .entry-data img{float:left;margin:10px 5px;height:15px}
.post .entry-content{padding:20px;text-align:left}
.post .entry-content a{text-decoration:none;color:#51ab6d}
.post .entry-share{float:right;height:37px}
.post .entry-share a{display:inline-block;vertical-align:middle}
.post .entry-share img{opacity:0.5;-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:grayscale(100%);filter:url(grayscale.svg);filter:gray;;-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s}
.post .entry-share img:hover{opacity:1;-webkit-filter:grayscale(0%);-moz-filter:grayscale(0%);-ms-filter:grayscale(0%);-o-filter:grayscale(0%);filter:grayscale(0%);-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s}
.post .entry-btn{border:1px solid #e9e9e9;text-transform:uppercase;letter-spacing:2px;font-size:11px;padding:15px 25px;display:inline-block;margin:10px auto;-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;text-decoration:none}
.post .entry-btn:hover{background:#51ab6d;color:#fff;border:1px solid;border-color:#51ab6d}
.post .img,.post .imgAnterior,.post .imgProximo{display:block;position:relative;overflow:hidden}
.post.anterior{width:48%;float:left;margin-right:4%;padding-bottom:10px}
.post.proximo{width:48%;float:left;padding-bottom:10px}
.post.anterior h3, .post.proximo h3{font-weight:600;padding:20px 10px 10px;font-family:'Josefin Sans',sans-serif}
.post.anterior .entry-title, .post.proximo .entry-title{margin-top:10px;font-size:21px}

.post h2{font-family:'Josefin Sans',sans-serif;font-weight:400;font-size:30px;display:block}
.post h4{font-family:'Josefin Sans',sans-serif;font-size:30px}
.post p{margin-bottom:20px}
.post p img{margin:0;display:inline;width:auto;height:auto}
.post hr{border-color:#d6d6d6}
.post table{width:100%;border-collapse:collapse;font-size:13px;line-height:20px;vertical-align:top}
.post table tr td,.post table tr th{padding:5px;border:1px solid #d6d6d6}
.post table h4{font-size:20px;font-weight:600}
.post img{display:block;margin:10px 0}
.post img.entry-imgpost{margin:0;width:100%;display:block}
.post img.principal{width:100%;margin:0;-webkit-transition:all .8s cubic-bezier(.190, 1.000, .220, 1.000);-moz-transition:all .8s cubic-bezier(.190, 1.000, .220, 1.000);-ms-transition:all .8s cubic-bezier(.190, 1.000, .220, 1.000);-o-transition:all .8s cubic-bezier(.190, 1.000, .220, 1.000);transition:all .8s cubic-bezier(.190, 1.000, .220, 1.000);}
.post .img:hover img.principal{-webkit-transform:scale(1.3);-moz-transform:scale(1.3);-ms-transform:scale(1.3);-o-transform:scale(1.3);transform:scale(1.3);filter:saturate(100%);-o-filter:saturate(100%);-ms-filter:saturate(100%);-moz-filter:saturate(100%);-webkit-filter:saturate(100%)}
.post .img:hover img.principal,.post .imgAnterior:hover img.principal,.post .imgProximo:hover img.principal{-webkit-transform:scale(1.3);-moz-transform:scale(1.3);-ms-transform:scale(1.3);-o-transform:scale(1.3);transform:scale(1.3);filter:saturate(100%);-o-filter:saturate(100%);-ms-filter:saturate(100%);-moz-filter:saturate(100%);-webkit-filter:saturate(100%)}

.texto{background:#fff;box-shadow:#d6d6d6 2px 2px 2px;margin-bottom:40px;width: 100%;display: table;padding: 20px;}
.texto img{display:block;width:100%;margin:20px 0}
.texto .entry-title{font-size:40px;font-family:'Josefin Sans',sans-serif;text-transform:uppercase;font-weight:300;margin:0 0 20px;padding-top:10px;position:relative}
.texto p{margin-bottom:15px}

.autor{background:#fff;box-shadow:#d6d6d6 2px 2px 2px;margin-bottom:40px;width:100%;display:table;padding:20px;font-size:12px}
.autor img{width:100px;float:left;margin:0 20px 20px 0;filter:saturate(50%);-o-filter:saturate(50%);-ms-filter:saturate(50%);-moz-filter:saturate(50%);-webkit-filter:saturate(50%)}
.autor h3{font-weight: 600;text-transform: uppercase;margin-bottom: 5px;font-family: 'Josefin Sans',sans-serif;font-size: 20px;}
.autor p{font-size:12px;line-height:16px}

#sidebar{display:block;width:100%;float:left;clear:both}
#sidebar h2{font-size:21px;margin-bottom:15px;margin-top:-1px;padding-top:15px;border-top:4px solid #00A777;text-align:center;text-transform:uppercase;font-weight:500}
#sidebar .box{border:1px solid #ddd;margin-bottom:50px;padding:0 25px 25px;text-align:center;background:#fff;box-shadow:#d6d6d6 2px 2px 2px}
#sidebar .profile p{line-height:15px;font-size:14px}
#sidebar .profile img{width:100%;display:block;margin:0 auto 10px}
#sidebar .mais-lidos a{text-decoration:none;display:block;font-size:12px;margin-bottom:20px;line-height:16px;border-bottom:1px solid #d6d6d6;padding-bottom:10px}
#sidebar .mais-lidos a img{display:block;margin-bottom:5px;filter:saturate(40%);-o-filter:saturate(40%);-ms-filter:saturate(40%);-moz-filter:saturate(40%);-webkit-filter:saturate(40%);-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s}
#sidebar .mais-lidos a:hover img{filter:saturate(100%);-o-filter:saturate(100%);-ms-filter:saturate(100%);-moz-filter:saturate(100%);-webkit-filter:saturate(100%);-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s}
#sidebar .mais-lidos:last-child a{border:none;padding-bottom:0;margin-bottom:0}

#erro{width:100%;height:auto;min-height:550px;float:left;clear:both;padding-top:100px;text-align:center;background:#fff}
#erro h1{font-size:200px;font-weight:600}
#erro p{font-size:29px;margin:20px 0 100px}

#resultadoBusca{display:none;margin-bottom:15px}
#inputBusca{text-indent:10px;font-size:13px;border:1px solid #ddd;width:100%;margin-bottom:20px;height:35px;line-height:35px;background:#fff url(../_imagens/busca.png) no-repeat right center;padding-right:30px}

#footer{width:100%;height:auto;float:left;clear:both;padding:50px 0;background:#000}
#footer p{color:#ccc;margin-bottom:0;font-size:12px}

section,footer{background:#fff;display:block;width:100%}

/* Feira */

#nav-feira{width:100%;height:auto;float:left;clear:both;text-align:center;background:#e16b0b}
#nav-feira ul{display:block;text-align:center}
#nav-feira ul li{display:inline-block}
#nav-feira ul li a{display:block;padding:10px;margin:10px;color:#fff;font-size:16px;font-family:'Josefin Sans',sans-serif;font-weight:600;text-transform:uppercase;text-decoration:none;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
#nav-feira ul li a:hover{text-decoration:underline;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
#nav-feira #menuDropDown{display:none;float:right;margin:15px;cursor:pointer}
#nav-feira .icon{display:none;float:left;margin:11px 5px 0;cursor:pointer}
#nav-feira .icon img{display:block}
#nav-feira .mobile a{display:inline-block;margin:0;padding:0 0 0 10px}

#header-feira{width:100%;height:auto;float:left;clear:both;text-align:center;padding:20px 0;background:#fff}
#header-feira p{color:#000;text-align:center;font-size:14px;line-height:18px;margin-top:15px;font-weight:800}

#produto{width:100%;height:auto;float:left;clear:both;padding:50px 0 100px}
#produto h1{text-transform:uppercase;margin-bottom:15px;font-size:40px}
#produto h3{text-align:center;margin:100px 0 200px;font-size:20px}
#produto h4{text-transform:uppercase;margin:130px 0 20px;font-size:40px}
#produto h5{text-transform:uppercase;margin:10px 0;font-size:25px;font-weight:600}
#produto #slider{position:relative}
#produto #slider .slides li a,#produto #slider .slides li img{display:block;position:relative}
#produto #slider .slides li a:after{content:'';width:64px;height:64px;position:absolute;z-index:1;bottom:0;right:0;background:url(../_imagens/lupa2.png) no-repeat}
#produto .flex-direction-nav a{text-indent:-99999px;height:38px;width:20px;position:absolute;z-index:8;top:40%;margin-top:-20px;}
#produto .flex-direction-nav .flex-prev{left:10px;background:url(../_imagens/seta-esquerda-2.png) no-repeat center}
#produto .flex-direction-nav .flex-next{right:10px;background:url(../_imagens/seta-direita-2.png) no-repeat center}
#produto .comprar{display:block;margin:15px 0 0;width:250px;height:50px;line-height:47px;text-decoration:none;text-align:center;text-transform:uppercase;background:green;color:#fff;font-size:30px;font-weight:500;border-radius:50px;border-bottom:4px solid #d6d6d6}
#produto .reservar{display:block;margin:15px 0 0;width:250px;height:40px;line-height:37px;text-decoration:none;text-align:center;text-transform:uppercase;background:#ccc;color:#333;font-size:18px;font-weight:500;border-radius:50px;border-bottom:4px solid #d6d6d6}

.produto{background:#f2f2f2;border-radius:3px;padding:15px;box-shadow:#d6d6d6 2px 2px 2px;margin:20px 2% 20px 0;width:30%;display:inline-block;vertical-align:top;text-align:center}
.produto .entry-title{font-family:'Josefin Sans',sans-serif;font-size:28px;line-height:30px;display:block;text-transform:uppercase;font-weight:300;margin:5px 0}
.produto .entry-title a{text-decoration:none;color:inherit;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
.produto .img{display:block;position:relative}
.produto .img span{display:block;border-radius:4px;position:absolute;z-index:1;top:0;left:0;width:100%;height:100%;opacity:0;background:url(../_imagens/lupa.png) no-repeat center;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
.produto .img:hover span{opacity:1;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
.produto .entry-value{font-weight:700;font-size:18px}
.produto img{display:block;border-radius:5px}

@media (max-width:767px){
	.mobile{display:block !important}
	.desktop{display:none !important}
	
	.home #header{padding:60px 0 40px}
	.home #header p{font-size:16px;line-height:22px}
	
	.post .entry-title{font-size:30px}
	.post .entry-meta{position:inherit;padding:10px;font-size:10px}
	.post .entry-meta a{margin-right:15px}
	.post .entry-meta img{height:15px}
	.post.anterior{width:100%;float:none;margin:0 0 20px}
	.post.proximo{width:100%;float:none}
	.post table tr,.post table tr td,.post table tr th{width:100%;display:block;float:left;clear:both;text-align:left;border:none;padding:0}
	.post table {border-top:1px solid #d6d6d6}
	.post table tr{border-bottom:1px solid #d6d6d6;padding:15px 0}
	.post table td img{float:left}
	
	#header .logo{display:block;float:left}
	#header .logo img{height:50px}
	
	#nav ul{display:none;width:auto;float:left;text-align:left;padding:20px 0;clear:both}
	#nav ul li{padding:0;line-height:15px;background:none;display:block;float:none !important}
	#nav ul li a{line-height:20px;padding:0}
	#nav ul.ativo{display:block}
	#nav .logo img{float:left}
	#nav #menuDropDown{display:block}
	
	#sidebar{margin-top:50px}
	
	#footer{text-align:center}
}

@media (max-width:450px){
	#header p{font-size:14px}
	.post .entry-itens-post{text-align:center}
	.post .entry-data{display:table;float:none;margin:auto}
	.post .entry-share{display:block;float:none}
}

@media only screen and (min-width:768px) and (max-width:991px){
	#sidebar{margin-top:50px;padding-top:50px;border-top:1px solid #ccc}
	#nav .logo img{margin:15px 0}
	#nav ul li a{padding:10px 5px;margin:12px 5px 0;font-size:13px}
}

@media only screen and (min-width:992px) and (max-width:1199px){
	
}

@media (min-width:1200px){

}

